<div id="topHeader" class="item-block" ng-click="showItemDetails(data)">
		{{data.name}}
	<hr>
	<div id="header2" style="width:100%;height:55%;">
		<div id="myCarouselDir{{data.index}}" class="carousel slide">
			<!-- Indicators 
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			-->
			<!-- Wrapper for slides -->
			<div class="carousel-inner" style="width:100%;height:55%;" role="listbox">
			  <div style="width:100%;height:55%;" class="item active" ng-init="img1=(data.imgUrl | split:' ':0)">
				<img style="height:200px" src="{{img1}}" alt="Image">
				<!--<div class="carousel-caption">
				  <h3>Sell $</h3>
				  <p>Money Money.</p>
				</div> -->     
			  </div>
			  <div class="item" ng-repeat="imgUrl in (data.imgUrl | split:' ':'All') track by $index">
				<img style="height:200px" src="{{imgUrl}}" alt="Image">
			  </div>
			  

			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarouselDir{{data.index}}" role="button" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarouselDir{{data.index}}" role="button" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		</div><!-- myCarousel close-->
		
	</div>
	<div id="header3" style="width:100%;height:20%">
		<div style="float:left;">
			<div> 
				<!--Available:{{data.available}}-->
				<span style="float:left">Units:</span>
				<input ng-disabled="data.isSelected" id="qnty" ng-click="updateTotalUnits()" ng-model="totalUnitsSelected" type="number" min="1" max="6" value="0" />
			</div>
			<div style="float:left;">
				Rs:{{data.price}}/unit
			</div>
		</div>
		<div  style="float:right;margin-right: 10px;margin-top: 5px;">
			<input ng-disabled="data.isSelected" class="btn btn-primary" type="button" value="Add to List" ng-click="selectedItem()"></input>
		</div>
		
	</div>
</div>
